html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: serif;
}

h3 {
    font-size: 2vw;
}


.header {
    background-color: black;
    padding: 25px 0px 45px 0px;
    width: 100%;
}

.header-right {
    float: right;
    margin-right: 20px;
}

.header-right a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    border: 1px white solid;
    background-color: black;
}

.header-right a:hover {
    transition: 0.5s;
    filter: invert(100%);
}

.full-image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    object-fit: cover;
}

.full-image-container p {
    display: block;
    position: relative;
    top: 22vh;
    font-size: 3vw;
    width: 50%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-align: center;
}

.image-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(assets/1.JPG);
}

.image-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(assets/2.JPG);
    min-height: 50vh;
}

.main-center {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 1620px;
}

.main-center h3 {
    width: 65%;
    text-align: center;
}

.main-center p {
    width: 50%;
    font-size: 1.5vw;
}


/*
.main-content {
    margin: 0px auto;
    max-width: 1620px;
}
*/

#scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 50px;
    text-decoration: none;
}

.intro-container {
    text-align: center;
    padding: 3vw 15vw;
    background-color: rgb(245, 245, 245);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 15vw;

}

.flex-container div {
    flex: 1;
    margin: 60px;
}

.image-container img {
    width: 100%;
}

.text-container {
    text-align: justify;
    text-justify: inter-word;
}

.amenities {
    padding: 60px 15vw;
    text-align: center;
}

.amenities-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}

.amenities-card img {
    max-width: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.amenities-card p {
    text-align: center;
}




.carousel {
    height: 600px;
    width: 100%;
    padding: 60px 0px;
    margin: 0px auto;
    max-width: 678px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 13px;
}

.carousel-inner {
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
}

.carousel-item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-controls .prev {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('assets/prev.svg');
    color: black;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.carousel-controls .next {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('assets/next.svg');
    color: black;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.carousel-indicators {
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.carousel-indicators span {
    display: inline-block;
    background-color: black;
    width: 5px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
}

.carousel-indicators span.active {
    opacity: 1;
}


.blog-container {
    margin-top: 30px;
    padding: 30px 15vw 60px 15vw;
    background-color: rgb(245, 245, 245);
}

.blog-container h4 {
    font-size: 1.5em;
}




.linktree-link {
    text-decoration: none;
    color: black;
}

.linktree-container {
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 320px;
    margin: 0px auto;
    text-decoration: none;
}



.linktree-container img {
    width: 320px;
    object-fit: contain;
}








.review-container {
    padding: 60px 15vw;
}

.review-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.review-card {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    width: 40%;
}

.review-person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.review-profile-pic {
    margin: 15px;
}

.review-profile-pic img {
    max-width: 100px;
}

.review-person-name {
    margin-left: 15px;
}

.review-show-more a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: gray;
}

.review-show-more a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.review-text {
    margin: 15px;
}

.booking-container {
    margin: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 500px;
    margin: 30px auto;
}

.booking-link-container a {
    margin: 0px 10px;
}

.book-now-link {
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 4vw 10px 4vw;
    font-size: 22px;
    border: 1px white solid;
    border-radius: 5px;
    flex-grow: 2;
}

.whatsapp-link {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px 3vw;
    font-size: 1.4em;
    border: 1px white solid;
    border-radius: 5px;
}

.whatsapp-link img {
    width: 36px;
}

.book-now-link:hover,
.whatsapp-link:hover {
    transition: 0.5s;
    filter: invert(100%);
}




iframe {
    width: 100%;
}

.attraction-container {
    margin: 0px auto;
    padding: 60px 15vw;
}

.attraction-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;

}

.attraction-grid div {
    text-align: center;
}

#attraction-img {
    width: 12vw;
    height: 12vw;
}




.perks-container {
    margin: 0px auto;
    padding: 60px 0px;
}

.perks-container h3 {
    margin-left: 15vw;
}

.perks-flexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
}

.perks-card {
    text-align: center;
    margin: 0px 10px;

}

#perks-images {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.question-container {
    margin: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions-link {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px white solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0px auto;
    font-size: 22px;
}





.footer {
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row a {
    text-decoration: none;
    color: black;
    filter: invert(100%);
    transition: 0.5s;

}

.row a:hover {
    scale: 1.1;
}

.row a img {
    font-size: 2em;
    margin: 0% 1%;
    max-width: 4vw;
}

.row p {
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    #fade-in-img {
        opacity: 0;
        scale: 0.8;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 50px 36%;
    }

    @keyframes fade-in {
        to {
            opacity: 1;
            scale: 1;
        }
    }
}

/*Mobile version*/
@media screen and (max-width: 1024px) {
    h3 {
        font-size: 1em;
    }

    .header a {
        font-size: 14px;
    }

    .full-image-container {
        min-height: 350px;
    }

    .full-image-container p {
        top: 90px;
        font-size: 1.5em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: center;
    }


    .main-content {
        margin: 0px;
    }

    #scroll-to-top-button {
        bottom: 30px;
        right: 12px;
        padding: 15px 30px;
        font-size: 1.4em;
    }

    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0px;
    }

    .flex-container div {
        flex: 0;
        margin: 10px 30px;
    }

    .second {
        flex-direction: column;
    }

    .amenities {
        margin: 0px;
        padding: 10px 30px;
    }

    .amenities-grid {
        grid-template-columns: auto auto;
        gap: 5px;
    }

    .amenities-card img {
        max-width: 10vw;
    }

    .review-container {
        margin: 10px 30px;
        padding: 0px;
    }

    .review-card {
        padding: 10px;
        margin: 10px 0px;
        width: 100%;
    }

    .review-profile-pic img {
        max-width: 60px;
    }

    .review-person-name {
        margin-left: 15px;
    }

    .review-show-more a {
        display: block;
        text-align: right;
        text-decoration: none;
        color: gray;
    }

    .booking-container {
        margin: 10px 30px 40px 30px;
        text-align: center;
    }

    .book-now-link {
        text-decoration: none;
        background-color: black;
        color: white;
        margin: 10px;
        padding: 10px 8vw;
        font-size: 1em;
        border: 1px white solid;
    }

    .center-container {
        padding: 0px;
        margin: 0px;
    }

    iframe {
        width: 100%;
    }

    .attraction-container {
        margin: 0px 30px;
        padding: 0px;
    }

    .attraction-grid {
        grid-template-columns: 1fr 1fr;
        margin: 0px;
    }

    .attraction-grid div {
        text-align: center;
    }

    #attraction-img {
        width: 130px;
        height: 130px;
    }





    .booking-link-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 500px;
        margin: 30px auto;
    }

    .book-now-link {
        text-decoration: none;
        text-align: center;
        background-color: black;
        color: white;
        padding: 20px 4vw 10px 4vw;
        font-size: 16px;
        border: 1px white solid;
        border-radius: 5px;
        flex-grow: 2;
    }

    .whatsapp-link {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 15px 30px;
        font-size: 1.4em;
        border: 1px white solid;
        border-radius: 5px;
    }

    .whatsapp-link img {
        width: 24px;
    }



    .carousel {
        padding: 0px;
    }

    .carousel-indicators {
        display: none;
    }






    .blog-container {
        padding: 10px 30px;
    }

    .linktree-container {
        background-color: white;
        border: 1px black solid;
        border-radius: 5px;
        padding: 20px;
        margin: 0px 30px;
        text-align: center;
        width: 80%;
        margin: 0px auto;
        text-decoration: none;
    }



    .linktree-container img {
        width: 100%;
        object-fit: contain;
    }



    .perks-container {
        margin: 0px auto;
        padding: 0px;
    }

    .perks-container h3 {
        margin-left: 15vw;
    }

    .perks-flexbox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex: auto;
        flex-wrap: wrap;
    }

    .perks-card {
        text-align: center;
        margin: 10px 10px;
    }

    #perks-images {
        width: 100px;
        height: 200px;
        object-fit: cover;
    }







    .footer {
        background-color: rgb(0, 0, 0);
        padding: 30px 0px;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 50px;
    }

    .footer .row {
        width: 100%;
        margin: 10px 0px;
        padding: 0.6% 0%;
        font-size: 1em;
    }

    .footer .row a img {
        font-size: 2em;
        margin: 0% 1%;
        max-width: 8vw;
    }
}